body{
font-family: 'Segoe UI';
}
#webTitle{
	color: white;
	text-align: center;
	font-size: 48px;
	margin-top: -30px;
}
#Description{
	color: white;
	text-align: center;
	font-size: 32px;
}
#inputText1{
	font-size: 36px;
	margin-left: 15%;
	white-space: nowrap;
}
#inputText2{
	font-size: 36px;
	margin-left: 80px;
	white-space: nowrap;
}
#CalculateButton{
	background-color: lightskyblue;
	margin-left: 80px;
	font-family: 'Segoe UI';
	width: 100px;
	color: white;
}
#DeleteButton{
	background-color: lightcoral;
	color: white;
	font-family: 'Segoe UI';
}
#GoogleMap{
	width: 75%;
	height: 550px;
	margin-left: auto;
    margin-right: auto;
}
#results{
	text-align: center;
}
#history{
	text-align: center;
}
#printResults{
	font-size: 32px;;
	text-align: center;
}
#previousOrigin{
	text-align: center;
	margin-left: 37%;
	margin-top: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: aliceblue;
}
#previousDest{
	text-align: center;
	margin-right: 37%;
	margin-top: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: aliceblue;
}
#to{
	display: inline;
	text-align: center;
}
#FromAndTo{
	text-align: center;
	
}
#PrevFrom{
	display: inline;
	margin-right: 5%;
	text-decoration: underline;
}
#PrevTo{
	display: inline;
	margin-left: 5%;
	text-decoration: underline;
}
#rows{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}